#logo {
  display: none;
}

#logoig {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: Josefin Sans;
  animation: introo 7s;
  transition: .7s;
  height: 40px;
}

#logoig div {
  position: absolute;
  transition: .7s;
}



.logom a {
  display: none;
}

.logolm a {
  display: none;
}

.logoigm a {
  display: flex;
}

.logoiglm a {
  display: flex;
}