#logo {
  display: none;
}

#logoig {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: Josefin Sans;
  animation: introo 7s;
  transition: .7s;
  height: 40px;
}

#logoig div {
  position: absolute;
  transition: .7s;
}

#raniag {
  font-size: 40px;
  color: #FF69B4;
}

#ranougraphy {
  font-size: 40px;
  color: white;
  opacity: 0;
  transform: scale(0) translateY(50px);
}

#logoig:hover #raniag {
  transform: scale(0) translateY(-50px);
  opacity: 0
}

#logoig:hover #ranougraphy {
  transform: scale(1) translateY(0px);
  opacity: 1;
}

.logoigl #raniag {
  transform: scale(0) translateY(-50px);
  opacity: 0
}

.logoigl #ranougraphy {
  transform: scale(1) translateY(0px);
  opacity: 1;
}

.logom a {
  display: none;
}

.logolm a {
  display: none;
}

.logoigm a {
  display: flex;
}

.logoiglm a {
  display: flex;
}